<h3>{{title}}</h3>
<input [(ngModel)]='user.name'>
<input [(ngModel)]='user.email'>
<input [(ngModel)]='user.age' placeholder="Age" type="number">
<input [(ngModel)]='user.phoneNumber' placeholder="phone" type="number">
<input type="date" [(ngModel)]='user.dob'>
<button (click)='save()'>Save</button>
<table>
  <thead>
    <th>Name</th>
    <th>Age</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Date of Birth</th>
  </thead>
  <tbody>
    <tr *ngFor='let user of userArray'>
      <td>{{user.name}}</td>
      <td>{{user.age}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phoneNumber}}</td>
      <td>{{user.dob}}</td>
    </tr>
  </tbody>
</table>
